<mat-card class="my-card">
    <form [formGroup]="signUpForm">
        <mat-card class="landing-card">
            <mat-form-field class="form-input max-wid">
                <mat-label>Email</mat-label>
                <input matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="skicon@skicco.com" tabindex="1" />
                <mat-error *ngIf="
                  signUpForm.controls['emailFormControl'].errors &&
                  signUpForm.controls['emailFormControl'].errors['email']
                ">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="
                signUpForm.controls['emailFormControl'].errors &&
                signUpForm.controls['emailFormControl'].errors['required']
              ">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="form-input max-wid">
                <mat-label>Password</mat-label>
                <input matInput formControlName="passwordFormControl" type="password" [errorStateMatcher]="matcher"
                    tabindex="2" />
                <mat-error *ngIf="
                signUpForm.controls['passwordFormControl'].errors &&
                signUpForm.controls['passwordFormControl'].errors['required']
                ">

                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button class="button" (click)="signUp()" tabindex="3">
                    signup
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</mat-card>