<p class="home">{{ title }}</p>

<input type="text" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<a routerLink="/second">second Page</a>


<table>
    <thead>
        <tr>
            <td>userId</td>
            <td>id</td>
            <td>title </td>
            <td>body</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of data">
            <td> {{d.userId}}</td>
            <td>{{d.id}}</td>
            <td>{{d.title}}</td>
            <td> {{d.body}} </td>

        </tr>
    </tbody>
</table>